<web-app>
   <!-- General description of your Web application -->
   <display-name>
     Project 4 by Emily Thomas
   </display-name>
   <description>
      This is the Web application in which we 
      will demonstrate our first servlet example.
   </description>
<!-- Servlet definitions -->
   <servlet>
      <servlet-name>p4</servlet-name>
      <description>
         A simple servlet that handles an HTTP get request.
      </description>
      <servlet-class>
         project4
      </servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>p4</servlet-name>
      <url-pattern>/p4</url-pattern>
   </servlet-mapping>
</web-app>

